<div id="<%= dom_id job_application %>">
  <p>
    <strong>Job application:</strong>
    <%= job_application.job_application_id %>
  </p>

  <p>
    <strong>Job post:</strong>
    <%= job_application.job_post_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= job_application.user_id %>
  </p>

  <p>
    <strong>Applied on:</strong>
    <%= job_application.applied_on %>
  </p>

  <p>
    <strong>Job application state:</strong>
    <%= job_application.job_application_state_id %>
  </p>

</div>
