

<head>
  <style>
      body {font-family: Arial, Helvetica, sans-serif;}

      /* Full-width input fields */
      input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
      }

      /* Set a style for all buttons */
      .button {
          background-color: #04AA6D;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
      }

      .button:hover {
          opacity: 0.8;
      }


      .container {
          padding: 16px;
      }



      /* Modal Content/Box */
      .modal-content {
          background-color: #fefefe;
          margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
          border: 1px solid #888;
          width: 80%; /* Could be more or less, depending on screen size */
      }

      h1 {text-align: center}
  </style>
</head>

<h1>Job Board Application</h1>

<div class="panel panel-default modal-content">
  <div class="panel-body">

    <%= form_tag( :url => { :action => "login" }, method: "post" ) do  %>

      <div class="field container">
        <%= label_tag :email  %>
        <%= text_field_tag :email , '', :class => "", :required => true   %>
      </div>

      <div class="field container">
        <%= label_tag :password %>
        <%= password_field_tag :password , '', :class => "form-control", :required => true  %>
      </div>

      <div class="actions">
        <%= submit_tag "Sign in" ,class:"btn btn-lg btn-primary btn-block button"%>
        <br>
        <br>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <span >Don't have an account? <a href="/users/new">Register</a></span>
      </div>
    <% end %>

  </div>
</div>