<div id="<%= dom_id job_post %>">
  <p>
    <strong>Job post:</strong>
    <%= job_post.job_post_id %>
  </p>

  <p>
    <strong>Job post title:</strong>
    <%= job_post.job_post_title %>
  </p>

  <p>
    <strong>Job post describtion:</strong>
    <%= job_post.job_post_describtion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= job_post.user_id %>
  </p>

  <p>
    <strong>Posted on:</strong>
    <%= job_post.posted_on %>
  </p>

</div>
